.ImageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-flow: dense;
    gap: 1em;
    margin: 0.5em;
}

.ImageGrid img {
    overflow: hidden;
    place-self: center;
}