.Tabs {
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto auto;
}

.Tabs-list {
    border-bottom: 1px solid black;
    padding-left: 0;
    grid-row: 1 / 2;
    align-items: end;
    margin: 0;
}

.Tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.Tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-style: 1px 1px 0 1px;
}

.Tab-content {
    display: inline-block;
    overflow-y: auto;
    grid-row: 2 / 3;
    height: 100%;
}
