.Tree ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
}

.Tree-node {
    width: 100%;
    text-align: right;
}

.Tree-node > li {
    display: flex;
    text-align: right;
    border-bottom: 1px solid black;
}

.Tree-node > li:last-child {
    border-bottom:none;
}

.Tree-leaf li {
    text-align: right;
}