.App {
  display: grid;
  grid-template-columns: 20% auto;
  height: 100vh;
  width: 100vw;
}

.Menu {
  grid-column: 1 / 2;
}

.Content {
  grid-column: 2 / 3;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

